.home-page{
    background-color: #f4f4f4;
}
.home-page h1{
    text-align: center;
}

.home-page nav {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    gap: 25px;
}

.home-page nav a {
    color: rgb(5, 51, 97);
    text-decoration: none;
    font-weight: bold;
}

.home-page nav a:hover {
    text-decoration: underline;
}

.practicals-page{
    background-color: #f4f4f4;
}

.practicals-page nav1{
    font-size: 30px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.practicals-page nav1 a{
    color: rgb(13, 183, 129);
    text-decoration: none;
    font-weight: bold;
}

.practicals-page nav{
    list-style: none;
    padding: 0;
    margin: 0;
}

.practicals-page nav a{
    color: rgb(5, 51, 97);
    text-decoration: none;
    font-weight: bold;
}

.practic1-page{
    background-color: #f4f4f4;
}

.practic1-page section1{
    text-align: center;
}

.laboratory-page{
    background-color: #f4f4f4;
}

.laboratory-page nav1{
    font-size: 30px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.laboratory-page nav1 a{
    color: rgb(13, 183, 129);
    text-decoration: none;
    font-weight: bold;
}

.laboratory-page nav{
    list-style: none;
    padding: 0;
    margin: 0;
}

.laboratory-page nav a{
    color: rgb(5, 51, 97);
    text-decoration: none;
    font-weight: bold;
}
